{% extends "basic.html" %}

{% block content %}

    <h3 class="font-italic text-center">Rubric: {{ current_rubric.name }} </h3>
    <p class="lead my-3 text-center">"What do you suppose will satysfy the soul except to walk free and own no superior?" W. Whitman</p>
     
    <div class="container main-container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-sm-12 card">
          {% for bb in bbs %}
          <div class="card shadow-sm">
            <div class="card-body align-items-start shadow color">
              <h5 class="mb-0">
                <b>{{ bb.title }}</b>
                </br>
                <small class="text-dark">PRICE: {{ bb.price }} $</small>
              </h5>
              <div class="mb-1 text-muted"> {{ bb.published }} </div>  
              <p class="card-text mb-auto"> {{ bb.content }} </p>
              <p class="card-text mb-auto"><a class="tag" href="/bboard/{{ bb.rubric.pk }}">{{ bb.rubric.name }}</a></p>  
            </div> 
          </div>
          {% endfor %}
        </div> 
      </div>
    </div>

{% endblock %}

