{% extends "layout/basic.html" %}

{% block content %}
    
    <div class="container-fluid">
      <div class="row">
        
        <div class="col-lg-4 col-md-12 border1">
          <div class="container">
            <div class="col-lg-12 col-md-12 border1 mtb1">
              
              <form action="test" method="GET">

                <div class="form-group">
                  <h4>Search ads data by url</h4> {{ form.title }}
                  <p class="lh115 mt025">Put an url from this "https://www.move2oregon.com" website, ex.: <span class="italic small mt025">https://www.move2oregon.com/all-properties/homes-on-acreage</span></p>
                  <input type="text" class="form-control mt025" id="url" aria-describedby="urlHelp" placeholder="Enter url">
                  <h4 class="mt075">Define how many ads to find</h4>
                  <p class="lh105 mt025">Enter a number of ads to be found, ex.: <span class="italic small">10</span></p>
                  <input type="text" class="form-control mt025" id="number" aria-describedby="numberOfAds" placeholder="Enter a number">
                  
                  <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary mt025" name="testBtn">Submit</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
        
        <div class="col-lg-8 col-md-12 border1">
          <div class="container">
            <div class="col-lg-12 col-md-12 border1 mtb1">

              {% for bb in bbs %}
              <div class="card shadow-sm">
                <div class="card-body align-items-start shadow color">
                  <h5 class="mb-0">
                    <b>{{ bb.title }}</b>
                    </br>
                    <small class="text-dark">PRICE: {{ bb.price }} $</small>
                  </h5>
                  <div class="mb-1 text-muted"> {{ bb.published }} </div>  
                  <p class="card-text mb-auto"> {{ bb.content }} </p>
                  <p class="card-text mb-auto"><a class="tag" href="/bboard/{{ bb.rubric.pk }}">{{ bb.rubric.name }}</a></p>  
                </div> 
              </div>
              {% endfor %}

            </div>
          </div>
        </div>

      </div>
    </div>
   
{% endblock %}
