.main-content {
  margin: 5rem !important;
}

.navbar {
  padding: 0 !important;
}
  .nav-link {
    text-transform: uppercase;
    margin: 0 2rem;
    color: #000;
  }
  .nav-link:hover {
     color: #000;
  }

.tags {
  margin-bottom: 1.5rem;
  margin-top: .75rem;
}

.mt3 {
  margin-top: 3rem !important;
}
.p3 {
  padding: 3rem;
}
.br2 {
  border-radius: 2rem
}
.color {
  background-color: #f7f7f7 !important;
}
.color2 {
  background-color: #8b9dc3 !important;
}
.color3 {
  background-color: #3b5998 !important;
}
.card {
  margin: 1rem 0;
}
.tag {
    color: #000 !important;
    text-transform: uppercase;
    font-size: 13px; 
    padding: 1px 3px;
    text-decoration: none !important;
    background-color: #dfe3ee !important;
    border: solid 2px #8b9dc3;
    transition: .125s;
}
.tag:hover {
    color: #dfe3ee !important;
    background-color: #8b9dc3 !important;
    border: solid 2px #dfe3ee !important;
    transition: .125s;
}
p {
  margin-bottom: 0;
}

.shadow {
  position: relative;
}
    .shadow:before, .shadow:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 13px;
      width: 50%;
      top: 80%;
      max-width:300px;
      background: #666;
      -webkit-box-shadow: 0 15px 13px #888;
      -moz-box-shadow: 0 15px 13px #888;
      box-shadow: 0 15px 13px #888;
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }
    .shadow:after
    {
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg);
      right: 10px;
      left: auto;
    }
.mtb1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.lh115 {
  line-height: 1.15;
}
.italic {
  font-style: italic;
}
.small {
  font-size: .75rem 
}
.mt075 {
  margin-top: .75rem;
}
.mt025 {
  margin-top: .25rem;
}
.custom-control-label:hover {
  cursor: pointer !important;
}