{% extends "basic_search.html" %}
  
  {% block content %}

  {% if pagination %}

  {% for i in pagination %}
  <div class="container">
    <div class="row justify-content-center mtb1 shadow color">
      <div class="col-md-3 col-sm-12 text-center">
        <img class="slb" src="{{ i.0 }}" alt="{{ i.1 }}">
      </div>
      <div class="col-md-8 col-sm-12 text-left">
        <h3> {{ i.1 }} </h3>
        <small class="text-dark"> {{ i.3 }} </small>
        <div class="mb-1 text-muted">
          <a href="{{ i.2 }}">{{ i.1 }}</a> </div>  
        <p class="card-text mb-auto"> PRICE: {{ i.4 }}$ </p> 
        <p class="card-text mb-auto"> {{ i.4 }} </p>
        <p class="card-text mb-auto"> {{ i.5 }} </p>
        <p class="card-text mb-auto"> {{ i.6 }} </p>
      </div> <!--cs-->
    </div>
  </div>
  {% endfor %}

  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <p class="page-link">Page {{ pagination.number }} of {{ pagination.paginator.num_pages }}</p>
            {% for i in pagination.paginator.page_range %}
              {% if pagination.number == i %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ i }}">{{ i }}
                <span class="sr-only">(current)</span></a>
            </li>
              {% elif i > pagination.number|add:-3 and i < pagination.number|add:3 %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
              {% endif %}
            {% endfor %}

            {% if pagination.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ pagination.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ pagination.paginator.num_pages }}">Last</a>
            </li>
            {% endif %}

          </ul>
        </nav>      
      </div>
    </div>
  </div>

  {% else %}
  <div class="container">
    <div class="row justify-content-center mtb1 shadow color">
      <div class="col-md-3 col-sm-12 text-center">
        <h4>No ads found at</h4>
        <p><a href="{{ url }}">{{ url }}</a></p>
      </div>
    </div>
  </div> 
  {% endif %} 

  {% endblock %}
