{% extends "basic_search.html" %}
  
  {% block content %}
  
  <link rel="stylesheet" href="/samplesite/search/css/simplebox.min.css"/>

  {% if data %}

  {% for i in data %}
  <div class="container">
    <div class="row justify-content-center mtb1 shadow color">
      <div class="col-md-3 col-sm-12 text-center">
        <img class="slb" src="{{ i.0 }}" alt="{{ i.1 }}">
      </div>
      <div class="col-md-8 col-sm-12 text-left">
        <h3> {{ i.1 }} </h3>
        <small class="text-dark"> {{ i.3 }} </small>
        <div class="mb-1 text-muted">
          <a href="{{ i.2 }}">{{ i.1 }}</a> </div>  
        <p class="card-text mb-auto"> PRICE: {{ i.4 }}$ </p> 
        <p class="card-text mb-auto"> {{ i.4 }} </p>
        <p class="card-text mb-auto"> {{ i.5 }} </p>
        <p class="card-text mb-auto"> {{ i.6 }} </p>
      </div>
    </div>
  </div>
  {% endfor %}

  {% else %}
  <div class="container">
    <div class="row justify-content-center mtb1 shadow color">
      <div class="col-md-3 col-sm-12 text-center">
        <h4>No ads found at</h4>
        <p><a href="{{ url }}">{{ url }}</a></p>
      </div>
    </div>
  </div> 
  {% endif %} 

  {% endblock %}



