.main {
  margin: 2rem;
}
.tags {
  margin: 5rem;
}

.color {
  background-color: #FFEC5E;
}
.tag {
    color: #FFEC5E !important;
    text-transform: uppercase;
    background-color: #A0A0A0 !important;
    margin: 0 3px;
    padding: 0 7px;
    font-size: 13px;
    text-decoration: none !important;
}
    .card-text .tag {
        color: #FFEC5E !important;
        text-transform: uppercase;
        background-color: #A0A0A0 !important;
        margin: 0 3px;
        padding: 0 7px;
        font-size: 13px;
        text-decoration: none !important;
    }

p {
  margin-bottom: 0;
}

.shadow {
  position: relative;
}
    .shadow:before, .shadow:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 15px;
      left: 13px;
      width: 50%;
      top: 80%;
      max-width:300px;
      background: #666;
      -webkit-box-shadow: 0 15px 13px #888;
      -moz-box-shadow: 0 15px 13px #888;
      box-shadow: 0 15px 13px #888;
      -webkit-transform: rotate(-3deg);
      -moz-transform: rotate(-3deg);
      -o-transform: rotate(-3deg);
      -ms-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }
    .shadow:after
    {
      -webkit-transform: rotate(3deg);
      -moz-transform: rotate(3deg);
      -o-transform: rotate(3deg);
      -ms-transform: rotate(3deg);
      transform: rotate(3deg);
      right: 10px;
      left: auto;
    }

